<div class="row" align="center">
	<div class="col-sm-3"></div>
	<div class="col-sm-4">
		<div id="add" class="collapse">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-5 control-label">Nume</label>
					<div class="col-sm-7">
						<input
							type="text"
							class="form-control"
							id="name"
							placeholder="Nume"
							ng-model="sc.sname"
							required
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="Facultativ" class="col-sm-5 control-label"
						>Facultativ</label
					>
					<div class="col-sm-7">
						<select
							class="form-control"
							id="Facultativ"
							ng-model="sc.sFacultativ"
						>
							<option>Securitate WEB</option>
							<option>Securittate BD</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="class" class="col-sm-5 control-label">Grupa</label>
					<div class="col-sm-7">
						<select class="form-control" id="class" ng-model="sc.sclass">
							<option>1900</option>
							<option>1901</option>
							<option>1902</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="mobile" class="col-sm-5 control-label">Telefon</label>
					<div class="col-sm-7">
						<input
							type="text"
							id="mobile"
							class="form-control"
							placeholder="236-**-******"
							ng-model="sc.smobile"
						/>
					</div>
				</div>
				<button type="Reset" class="btn btn-success" ng-click="sc.addStudent()">
					Adauga
				</button>
				<button type="Reset" class="btn btn-danger">Reseteaza</button>
			</form>
		</div>
	</div>
	<div class="col-sm-5"></div>
</div>
