<div align="center" class="row">
	<form name="myForm" class="form form-inline" ng-submit="sc.submit()">
		<div class="form-group">
			<label>Cautare</label>
			<input
				type="text"
				ng-model="sc.id"
				class="form-control"
				placeholder="id"
			/>
			<input
				type="text"
				name="myName"
				ng-model="sc.name"
				class="form-control"
				placeholder="Nume"
				required
			/>
			<input
				type="text"
				ng-model="sc.Facultativ"
				class="form-control"
				placeholder="Facultativ"
			/>
			<input
				type="text"
				ng-model="sc.class"
				class="form-control"
				placeholder="Grupa"
			/>
			<input
				type="text"
				ng-model="sc.mobile"
				class="form-control"
				placeholder="Telefon"
			/>
			<input
				class="btn btn-success"
				type="submit"
				value="Cauta"
				ng-disabled="!sc.name"
			/>
		</div>
		<div ng-show="myForm.myName.$touched && myForm.myName.$invalid">
			Numele este obligatoriu
		</div>
	</form>
</div>
