<div class="row" align="center">
	<button
		type="button"
		class="btn btn-default btn-sm"
		data-toggle="collapse"
		data-target="#add"
	>
		<span class="glyphicon glyphicon-plus"></span>Adauga Student
	</button>
	<div add-student></div>
</div>
<div align="center" class="row">
	<div class="col-sm-12">
		<table class="table table-stripted table-bordered">
			<thead>
				<th ng-click="sc.orderBy('id')" ng-dblclick="sc.orderBy('-id')">
					<strong>Id</strong>
				</th>
				<th ng-click="sc.orderBy('name')" ng-dblclick="sc.orderBy('-name')">
					<strong>Nume</strong>
				</th>
				<th
					ng-click="sc.orderBy('Facultativ')"
					ng-dblclick="sc.orderBy('-Facultativ')"
				>
					<strong>Facultativ</strong>
				</th>
				<th ng-click="sc.orderBy('class')" ng-dblclick="sc.orderBy('-class')">
					<strong>Grupa</strong>
				</th>
				<th ng-click="sc.orderBy('mobile')" ng-dblclick="sc.orderBy('-mobile')">
					<strong>Telefon</strong>
				</th>
				<th><strong>Actiuni</strong></th>
			</thead>
			<tr
				ng-repeat="s in sc.students | orderBy : sc.ordering | filter : {id : sc.id, name : sc.name, Facultativ : sc.Facultativ, class : sc.class, mobile : sc.mobile}"
			>
				<td>{{ s.id }}</td>
				<td>
					<div ng-hide="sc.editorEnabled[$index]">
						{{ s.name }}
					</div>
					<div ng-show="sc.editorEnabled[$index]">
						<input
							type="text"
							value="{{ s.name }}"
							ng-model="s.name"
							required
						/>
					</div>
				</td>
				<td>
					<div ng-hide="sc.editorEnabled[$index]">
						{{ s.Facultativ }}
					</div>
					<div ng-show="sc.editorEnabled[$index]">
						<select
							class="form-control"
							id="Facultativ"
							ng-model="s.Facultativ"
						>
							<option>Securitate WEB</option>
							<option>Securittate BD</option>
						</select>
					</div>
				</td>
				<td>
					<div ng-hide="sc.editorEnabled[$index]">
						{{ s.class }}
					</div>
					<div ng-show="sc.editorEnabled[$index]">
						<select
							class="form-control"
							id="class"
							ng-model="s.class"
							ng-selected="s.class"
						>
							<option>1900</option>
							<option>1901</option>
							<option>1902</option>
						</select>
					</div>
				</td>
				<td>
					<div ng-hide="sc.editorEnabled[$index]">
						{{ s.mobile }}
					</div>
					<div ng-show="sc.editorEnabled[$index]">
						<input type="text" value="{{ s.mobile }}" ng-model="s.mobile" />
					</div>
				</td>
				<td>
					<div ng-hide="sc.editorEnabled[$index]">
						<button class="btn btn-info" ng-click="sc.enableEditor($index)">
							Edit
						</button>
						<button class="btn btn-danger" ng-click="sc.deleteStudent(s.id)">
							Delete
						</button>
					</div>
					<div ng-show="sc.editorEnabled[$index]">
						<button
							class="btn btn-success"
							ng-click="sc.editStudent($index, s.id, s.name, s.Facultativ, s.class, s.mobile) "
						>
							Save
						</button>
						<button class="btn btn-danger" ng-click="sc.disableEditor($index)">
							Cancel
						</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
